.workspace-avatar {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 8px;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.icon {
  width: 16px;
  height: 16px;
  filter: var(--icon-filter);
}

.logo {
  width: 24px;
  height: 24px;
}

.workspace-button {
  flex-grow: 1;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
}

@media (hover: hover) {
  .button:hover .icon {
    filter: var(--icon-filter-hover);
  }
}

:host {
  height: 100vh;
  display: flex;
}

.sidebar {
  display: flex;
  height: 100vh; 
}

.left-panel {
  display: flex;
  position: relative;
  flex-grow: 1; 
  background-color: var(--surface-color); 
  padding: 0.3rem;
  box-sizing: border-box;
}

.sidebar-container {
  width: 270px;
  height: 100%;
  background-color: var(--surface-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  box-sizing: border-box;
  overflow: hidden;
}

.fixed-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0; 
  margin-bottom: 1rem;
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4px;
}

.sidebar-section {
  margin-bottom: 1rem;
}

.sidebar-section h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sidebar-actions {
  margin-bottom: 0.3rem;
}

.notes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  padding-bottom: 200px;
}

.notes-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-radius: var(--border-radius);
  cursor: pointer;
}

.notes-list li .icon {
  filter: var(--icon-filter);
}

.notes-list li:hover .icon {
  filter: var(--icon-filter-hover);
}

.note-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notes-list li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-title {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
}

.center-text {
  text-align: center;                
  display: flex;
  justify-content: center;
  align-items: center;               

}
